@font-face {
   font-family: 'Gloria Hallelujah';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/KanColle/Desktop/1/fonts/Gloria Hallelujah/regular.ttf') format('truetype');
}
